
*{
  padding: 0;
  margin: 0;
  font-family: monospace;
}
.header-color{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing{
  background-image: url(https://img.freepik.com/free-vector/abstract-technology-background-science-connecting-technology_42705-96.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  height: 100vh;
}
.landing section {
  padding-top: 10em;
}
.landing h1 {
  font-weight: bold;
  font-family: monospace;
}
.landing p {
  font-size: 3em;
}

.landing hr {
  border-top: white solid 1px;
  width:  50%;
  margin: 2em auto;
  opacity: .2;
}

.landing .social {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding: 1em;
}

.social i {
  color: white;
  font-size: 4em;
}